<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Central de Atendimento</title>
    <link rel="shortcut icon" href="../static/img/logo-02.webp" type="image/x-icon">

    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link rel="stylesheet" href="../static/css/central_atendimeto.css">
    <link rel='stylesheet' type='text/css' media='screen' href='../static/css/style.css'>
    <script src='main.js'></script>

    <script src="https://kit.fontawesome.com/a00a6a8426.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  </head>
<body>
    <header class="">
        <a href="{{ url_for('index') }}">
          <img class="logo" src="../static/img/logo-02.webp" alt="Logo da empresa"/> 
        </a>
        <h1 class="titulo">Sports Haven</h1>     
        <div class="redes">
            <div class="user">
              <a href="">
                <i style="color: #000;" class="bi bi-instagram"></i></div>
              </a>
            <div class="user">
              <a href="">
                <i style="color: #000;" class="bi bi-twitter-x"></i></div>
              </a>
            <div class="user">
              <a href="">
                <i style="color: #000;" class="bi bi-facebook"></i></div>
              </a>
            <div></div>
            <div class="user">
              <a href="">
                <i style="color: #000;" class="bi bi-heart"></i></div>
              </a>
            <div class="user">
              <a href="">
                <i style="color: #000;" class="bi bi-cart3"></i></div>
              </a>
            <div class="user">
              <a href="{{ url_for('login') }}">
                <i style="color: #000;" class="bi bi-person-circle"></i></div>
              </a>
        </div>
    </header>

    <nav class="menu">
        <a href="{{ url_for('feminino') }}" class="btmenu">Feminino</a>
        <a href="{{ url_for('masculino') }}" class="btmenu">Masculino</a>
        <a href="{{ url_for('acessorios') }}" class="btmenu">Acessórios</a>
        <a href="#" class="btmenu">Artigos</a>
        <a href="{{ url_for('central_atendimento') }}" class="btmenu">Atendimento</a>
        <form class="form">
            <input class="pesquisar-input" type="texto" placeholder="  Pesquisar" aria-label="Pesquisar">
            <button class="pesquisar-btn" type="submit"> <i class="fa-solid fa-magnifying-glass"></i></button>
            <!-- <input type="button"> -->
        </form>
    </nav>
    <main class="service-main-container">
        <div>
            <h1 class="service-title"> <strong>Central de atendimento</strong></h1>
        </div>
            
        <div>
            <h3 class="service-card-title"> <strong>Fale com a gente</strong></h3>
        </div>
        <div class="container-principal--service-card">
          <div class="container-service-card">
            <p> <strong> sportshaven@gmail.com</strong></p>
            <p><strong>Fale conosco por menssagem</strong></p>
            <button type="submit" class="service-button"><strong>Enviar Mensagem</strong></button>
        </div>
        <div class="container-service-card">
                <p> <strong>Telefone e Whatsapp</strong></p>
                <p> <strong>11 3053-7500</strong></p>
            <button type="submit" class="service-button"> <strong>Enviar Mensagem</strong></button>
        </div>
        </div>
    </main>
    <footer>
      <div class="elemento1">
          <a href="#"><img src="../static/img/logo-02.webp" alt="Logo" width="80px"></a>© 2023 Sports Haven.
      </div>
      <div class="elemento2">
          <!-- <a href="https://play.google.com/store/games?hl=pt_BR&gl=US&pli=1" target="_blank"><img src="" alt="Logo Google Play" width="160px" height="50px"></a> -->
      </div>
      <div class="elemento3">
        <!-- <a href=""><i class="fa-brands fa-twitter"></i></a> -->
        <h4>Forma de pagamento:</h4>
        <img class="cartoes" src="../static/img/cartoes.png" alt="cartões">
      </div>
    </footer>
</body>